ul.xxx {
    background: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 15px;
    width: 400px;
    height: 220px;
}

ul.yyy{
    background: rgba(2,2,2,0.1);
    color: black;
    font-size: 15px;
    width: 400px;
    height: 200px;
}

ul.zzz {
     background: rgba(0,0,0,0.1);
     color: black;
     font-size: 15px;
     width: 400px;
     height: 250px;
 }

