.box1 {
    width: 450px;
    height: 150px;
    background-color: darkcyan;
}

.wrap {
    width: 450px;
    height: 150px;
    display: flex;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.box3 {
     width: 150px;
     height: 150px;
     background-color: darkblue;
 }

.box4 {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.box5 {
    width: 450px;
    height: 300px;
    background-color: darkcyan ;
}









